---
interface Props {
  href: string;
  category: string;
  headline: string;
  date: Date;
  heroImage?: string;
  featured?: boolean;
}

const { href, category, headline, date, heroImage, featured = false } = Astro.props;
const dateString = date.toLocaleDateString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' });
---

<a href={href} class={`card ${featured ? 'feature' : ''}`}>
  <div class={`card-image ${heroImage ? 'has-image' : ''}`}>
    {heroImage && <img src={heroImage} alt="" loading="lazy" />}
  </div>
  <div class="card-body">
    <span class="card-tag">{category}</span>
    <h3 set:html={headline} />
    <div class="card-meta">
      <span>{dateString}</span>
    </div>
  </div>
</a>
